body {
	margin: 0 auto;
  	max-width: 550px;
  	font-family: 'Open Sans', sans-serif;
}

input {
     border: 0;
     padding: 10px;
     font-size: 18px;
     vertical-align: center;
     font: black;
 }

h1 {
	font-family: 'Open Sans', Arial, serif; 
	font-style: extra-bold;
	font-weight: 800;
	font-size: 24px;
	padding-bottom: 30px;
}

h2 {
	font-style: semi-bold;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	padding-bottom: 30px;
}

h3 {
	font-style: semi-bold;
	font-weight: 600;
	font-size: 20px;
	color: #033048;
}

h4 {
	font-style: semi-bold;
	font-weight: 600;
	font-size: 9px;
	color: #FFFFFF;
}

ul {
	font-style: light;
	font-weight:300;
	font-size: 13px;
	margin-right: 20px;
}

p {
	font-style: light;
	font-size: 13px;
	color: #121212;
	margin-right: 30px;
}

.author {
	font-style: semi-bold;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
}

button {
	font-style: Extra bold;
	font-weight: 800;
	font-size:14px;
}


blockquote {
	text-align: center;
	font-style: italic;
	font-weight: style;
	font-size: 13px;
}	


	.header {
		background-image: url('../images/header_bg.jpg');
		background-size: cover;
		background-position: center;
		padding-top: 5px; 
		padding-left: 40px;
		padding-bottom: 100px;
		padding-right: 40px;
		color: #FFFFFF
	}
		.button1 {
		text-align: center;
		font-size: 14px;
		font-weight: 800;
		color: #121212;
		background-color: #f9e42e;
		border: 10px;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.button2 {
		text-align: center;
		font-size: 12px;
		font-weight: 800;
		color: #FFFFFF;
		background-color: #033048;
		border: 10px;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.benefits {
		background-color: #f0efef;
		padding-top: 5px; 
		padding-left: 40px;
		padding-bottom: 10px;
		padding-right: 40px;	
	}

	.quote {
		background-image: url('../images/testimonial_bg.jpg');
		opacity: 0.9;
		background-position: center;
		background-size: cover;
		color: #FFF;
		padding-top: 5px; 
		padding-left: 40px;
		padding-bottom: 5px;
		padding-right: 40px;
		text-align: center;
	}

	.sign {
		background-color: #f9e42e;
		padding-top: 20px; 
		padding-left: 40px;
		padding-bottom: 20px;
		padding-right: 40px;
	}

	.footer {
		background-color: #121212;
		color: #f9e42e;
		padding-top: 5px; 
		padding-left: 40px;
		padding-bottom: 5px;
		padding-right: 40px;
	}



